/* Ẩn thanh cuộn trên mọi trình duyệt */
.rpv-core__inner-pages {
    overflow: hidden !important;
}

.rpv-core__inner-pages::-webkit-scrollbar {
    display: none !important;
}

.rpv-core__inner-pages {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Đảm bảo chỉ hiện đúng 1 trang, không có bóng/khe hở trang kế bên */
.rpv-core__page {
    margin: 0 auto !important;
    box-shadow: none !important;
}

.rpv-core__inner-page {
    background: transparent !important;
}

/* Căn giữa trang nếu chiều cao màn hình lớn hơn trang PDF */
.rpv-core__canvas-layer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rpv-core__popover-body-inner-search>.rpv-search__popover>.rpv-search__popover-label {
    display: none !important;
}

.search-input-wrapper input {
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    color: #111827;
}