@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyThin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyXlight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyXlightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyMedium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyMediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroySemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroySemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyBold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyBoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyXBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyXBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyBlack.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyBlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyHeavy.otf') format('opentype');
    font-weight: 1000;
    font-style: normal;
}

@font-face {
    font-family: 'SVN Gilroy';
    src: url('../assets//fonts/svn-gilroy/svnGilroyHeavyItalic.otf') format('opentype');
    font-weight: 1000;
    font-style: italic;
}
